.root {
  background-image: linear-gradient(
    -60deg,
    var(--mantine-color-blue-4) 0%,
    var(--mantine-color-blue-7) 100%
  );
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  min-width: 260px;
}
