.container {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: 80px;

  @media (min-width: $mantine-breakpoint-sm) {
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
    padding-top: var(--mantine-spacing-md);
    padding-bottom: 80px;
  }

  @media (min-width: $mantine-breakpoint-lg) {
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-lg);
    padding-bottom: 80px;
  }
}

.description {
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-2));
}
